@import url('https://fonts.googleapis.com/css?family=Quicksand');

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}

#data {
    font-family: 'Quicksand', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;
}

#data td, #data th {
    border: 1px solid #ddd;
    padding: 8px;
}

#data tr:nth-child(even){background-color: #f2f2f2;}

#data tr:hover {background-color: #ddd;}

#data th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4c98af;
    color: white;
}