APP_ENV=local  
APP_DEBUG=true  
APP_KEY=timetrackerkey
APP_TIMEZONE=UTC

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=timetracker
DB_USERNAME=root
DB_PASSWORD=password

CACHE_DRIVER=memcached  
QUEUE_DRIVER=sync 